.people-list-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.people-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.people-list-wrapper h2 {
  color: var(--violet);
}
