.person {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid #808080;
  border-radius: 0.5rem;
  transition: border 0.2s;
}

.person:hover {
  border: 1px solid var(--violet);
}

.person h2 {
  color: #fff;
  font-size: 22px;
  transition: color 0.2s;
}

.person:hover h2 {
  color: var(--violet);
}

.person p {
  font-size: 16px;
  color: #808080;
  transition: color 0.2s;
}

.person:hover p {
  color: #f1f1f1;
}
