:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  --violet: #646cff;
  --violet2: #535bf2;
  --background: #242424;
  --text-color: #ffffffde;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
  background: radial-gradient(#fff, #8187c1, #3744cf, #a0a5ae);
  color: #242424;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  /* max-width: 1280px; */
  min-height: 100svh;
  margin: 0 auto;
  /* padding: 0 2rem; */
  text-align: center;
}

.container {
  max-width: 1280px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
